<% include partials/header %>
<h1>Edit an existing book</h1>
<form action="/books/<%= book.id%>?_method=put" method="POST" class="form-inline">
  <div class="form-group">
    <label for="title">Title: </label>
    <input type="text" name="book[title]" id="title" class="form-control" value = "<%= book.title%>"autofocus>
  </div>
  <div class="form-group">
    <label for="author">Author: </label>
    <input type="text" name="book[author]" id="author" class="form-control" value = "<%= book.author%>" autofocus>
  </div>
  <div class="form-group">
    <label for="year">Year: </label>
    <input type="text" name="book[year]" id="year" class="form-control" autofocus value = "<%= book.year%>">
  </div>
  <input type="submit" value="Edit" class="btn btn-info">
</form>
<a href="/books">Go home</a>
<% include partials/footer %>